.project_container {
    margin: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
  .box {
    margin-top: 0px;
    display: inline-block;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
  }
  .box:hover {
    cursor: pointer;
  }
  .box .project_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30%;
  }
  .box_body{
    margin-left: 40%;
  }
  .box:hover .box_body {
    opacity: 1; /* You can set the opacity to 1 to make it fully visible */
    transform: translateY(0); /* You can translate it back to its original position */
  }
  
  .box .box_body {
    opacity: 0; /* Initially hide the .box_body */
    transform: translateY(100%); /* Translate it below the box */
    transition: opacity 0.3s, transform 0.3s; /* Add a smooth transition effect */
  }
  
 @media screen and (max-width: 850px) {
  .project_container{
    width: 850px;
  }
  .box {
    width: 800px;
    margin-left: 0;
  }
  .box .project_title{
    width: 850;
    margin-top: 15%;
  }
  .box_body{
    margin-left: 45%;
  }
}
@media screen and (max-width: 600px) {
  .project_container{
    width: 600px;
  }
  .box {
    width: 580px;
  }
  .box .project_title{
    width: 600px;
    margin-top: 20%;
  }
}
@media screen and (max-width: 250px) {
  .project_container{
    width: 600px;
  }
  .box {
    width: 600px;
  }
  .box .project_title{
    width: 600px;
    margin-top: 10%;
  }
}